// 主题颜色
$mainColor:#0099E6;
// 小字体灰色颜色
$fontColor:#999999;
// 背景颜色
$backColor:#F6F6F6;
// 字体大小
$smallFontSize:12px;
$mainFontSize:16px;
// 边框颜色
$borderColor:#E6E6E6;
// 价格颜色
$priceColor:#FF3333;
// padding
$pd: 5px 10px 20px 30px;