@import 'var';
#box{
    .adv{
        img{display:block;width:100%;}
    }
    .header{
        border-bottom:1px solid #eee;background: #FAFAFA;
        .container{
            .h_left{
                color:$fontColor;font-size:$smallFontSize;display:inline-block;height:30px;line-height:30px;
                a{
                    color:#FF8A00;position:relative;padding-left:nth($pd,3);
                    i{background:url('../img/icon.fw.png') no-repeat;display:inline-block;height:20px;width:20px;position:absolute;top:-1px;left:0px;}
                }
            }
            .h_right{
                li{
                    float:left;height:30px;line-height:30px;
                    a{color:$fontColor;font-size:$smallFontSize;
                        &:hover{color:$mainColor;text-decoration:underline;}
                    }
                    span{display:inline-block;color:#dedede;font-size:$smallFontSize;margin:0 12px;}
                }
            }
        }
    }
    .logo{
        .l_left{
            height:108px;width:666px;float:left;
            a{display:block;}
            .l_logo{background:url('../img/logo.png') no-repeat center;height:64px;width:304px;float:left;margin-top:18px;}
            .l_promise{background:url('../img/promise.png') no-repeat center;float:right;height:40px;width:300px;margin-top:35px;}
        }
        .l_center{
            width:418px;position:relative;float:left;
            input{height:nth($pd,4);width:305px;border:2px solid $mainColor;margin:33px 0 0 33px;}
            a{display:block;position:absolute;height:34px;width:80px;background:#009DE0;top:33px;right:-2px;
                i{position:absolute;top:5px;left:26px;display:block;height:24px;width:24px;background:url('../img/icon.fw.png') no-repeat -30px 0;}
            }
        }
        .l_right{
            float:right;padding-top:33px;
            a{
                display:block;height:32px;width:60px;border:1px solid #ccc;background: #F8F8F8;font-size:14px;line-height:32px;padding-left:35px;position:relative;
                i{display:block;height:23px;width:23px;background:url('../img/icon.fw.png') no-repeat -70px 0;position:absolute;top:6px;left:6px;}
                span{display:block;height:20px;width:28px;background: #FF5555;border-radius:10px 10px;position:absolute;top:-15px;left:6px;font-size:12px;color:#fff;line-height:20px;text-align:center;font-weight:bolder;}
            }
        }
    }
    .nav{
        background: $mainColor;height:40px;
        .container{
            .n_left{
                float:left;
               h3{
                    height:40px;width:180px;font-size:14px;background: #0086D4;line-height:40px;padding-left:40px;color:#fff;font-weight:bolder;position:relative;
                    i{display:block;height:26px;width:26px;background:url('../img/icon.fw.png') no-repeat -110px 0;position:absolute;top:6px;left:6px;}
                }
               .menu1{
                    font-size:12px;width:220px;background:#F1FAFD;position:relative;height:420px;z-index:100;
                    .menu1_li{
                        height:59px;margin-left:5px;padding:0 15px 0 10px;
                        .li_show{
                            h4{
                                height:24px;width:165px;padding:10px 0 0 25px;position:relative;
                                a{
                                    color:$mainColor;font-weight:bolder;
                                    &:hover{text-decoration:underline;}
                                }
                                i{display:block;height:20px;width:20px;background:url('../img/icon.fw.png') no-repeat -140px 0;position:absolute;top:7px;left:0;}
                            }
                            ul{
                                padding-left:25px;border-bottom:1px solid $borderColor;
                                li{
                                    float:left;padding-right:10px;height:24px;
                                    a{
                                        color:#6688AA;
                                        &:hover{text-decoration:underline;}
                                    }
                                }
                                li:nth-child(3){padding:0;}
                            }
                        }
                        .second_nav{
                            position:absolute;top:0;left:220px;width:970px;display:none;background:#fff;
                            .second_nav_left{
                                width:770px;float:left;padding-top:10px;
                                li{
                                    padding-left:30px;width:340px;float:left;
                                    dl{
                                        dt{height:24px;border-bottom:1px solid $borderColor;font-size:14px;font-weight:bolder;padding-top:25px;
                                            a{color:#000;}
                                        }
                                        dd{
                                            float:left;line-height:24px;padding-right:16px;
                                            a{
                                                &:hover{color:$mainColor;text-decoration:underline;}
                                            }
                                        }
                                    }
                                }
                            }
                            .second_nav_right{
                                width:160px;float:right;padding:19px;border-left:1px solid $borderColor;
                                .s_nav_rt{
                                    padding-bottom:30px;
                                    a{display:block;height:180px;width:160px;background:url(../img/muying.jpg) no-repeat;}
                                }
                                .s_nav_rb{
                                    border-top:1px solid $borderColor;padding-top:16px;position:relative;
                                    ul{
                                        li{
                                            float:left;margin-top:8px;
                                            a{
                                                display:block;height:42px;width:74px;background:url(../img/hotgoods.jpg) no-repeat;border:1px solid $borderColor;
                                            }
                                        }
                                        li:nth-child(2n-1){
                                            margin-right:8px;
                                        }
                                    }
                                    h4{position:absolute;top:-10px;left:55px;font-weight:bolder;background: #fff;z-index:100;padding:0 5px;}
                                }
                            }
                        }
                        &:hover{
                            background:#fff;border-left:5px solid #f00;margin:0;
                            .second_nav{display:block;}
                        }
                    }
                }
            }
            .n_center{
                float:left;width:770px;
                .n_li{
                    float:left;padding:0 22px;height:40px;line-height:40px;font-size:12px;position:relative;
                    a{color:#fff;font-weight:bolder;}
                    ul{
                        width:210px;position:absolute;top:40px;left:0;display:none;background:#fff;z-index:100;
                        li{
                            margin:0 15px;padding:10px 0 5px 10px;border-bottom:1px solid $borderColor;
                            h4{height:20px;line-height:20px;color:$mainColor;font-weight:bolder;}
                            a{display:block;height:24px;line-height:24px;color:$fontColor;font-weight:500;
                                &:hover{color:$mainColor;}
                            }
                        }
                    }
                    i{display:block;height:14px;width:14px;position:absolute;top:13px;right:-4px;background:url(../img/icon.fw.png) no-repeat -170px 0;}
                    &:hover{
                        ul{display:inline;}
                        i{background:url(../img/icon.fw.png) no-repeat -200px 0;}
                    }
                }
            }
            .n_right{background:url(../img/pay.png) no-repeat;width:200px;height:40px;float:right;}
        }
    }
    .banner{
        position:relative;
        .images{
            width:100%;position:absolute;top:0;left:0;height:420px;
            li{
                position:absolute;top:0;left:0;z-index:-10;display:none;width:100%;z-index:1;
                a{
                    display:block;height:420px;width:770px;margin-left:220px;
                    img{display:block;height:420px;width:770px;}
                }
            }
            li:nth-child(1){
                background:#80CCFE;
            }
            li:nth-child(2){
                background:#C0E9ED;
            }
            li:nth-child(3){
                background:#F7B5C1;
            }
            li:nth-child(4){
                background:#FFE6EA;
            }
            li:nth-child(5){
                background:#AFD8DC;
            }
        }
        .container{
            position:relative;height:420px;
           .page{
                position:absolute;bottom:30px;left:50%;margin-left:-35px;z-index:10;
                li{
                    float:left;padding-right:10px;
                    a{display:inline-block;height:8px;width:8px;border:3px solid #fff;border-radius:50%;}
                }
                .action{background: #fff;}
            }
            .active{
                width:200px;position:absolute;top:0;right:0;z-index:10;
                ul{
                    li:nth-child(2){border-top:1px solid $borderColor;}
                }
            }
            .btn{
                position:absolute;top:50%;left:220px;;z-index:1;margin-top:-30px;width:770px;
                .btn-left{
                    position:absolute;top:0;left:0;z-index:12;margin-top:-30px;margin-left:-60px;
                    a{display:block;height:60px;width:60px;background:url(../img/btn.gif) no-repeat;}
                }
                .btn-right{
                    position:absolute;top:0;right:0;z-index:12;margin-top:-30px;margin-right:-60px;
                    a{display:block;height:60px;width:60px;background:url(../img/btn.gif) no-repeat 0 -60px;}
                }
            } 
        }  
    }
    .main{
        background:#F5F5F5;
        .sales{
            .sales-list{
                float:left;
               li{
                    float:left;width:200px;position:relative;padding:25px 0 15px 0;
                    .good{
                        display:block;
                       .corner{display:block;width:38px;height:38px;position:absolute;top:40px;left:5px;}
                       img{display:block;height:170px;width:170px;}
                       .good-name{font-size:12px;color:#000;text-align:center;margin:10px 0 5px 0;}
                       .good-price{
                            text-align:center;margin-bottom:10px;
                            em{color:#FF3333;font-size:14px;font-weight:bolder;}
                            span{color:#A5B2B2;font-size:12px;}
                       }
                       .good-sort{
                            text-align:center;position:relative;margin-bottom:7px;
                            i{display:block;position:absolute;height:12px;width:18px;top:6px;left:25px;background:url(../img/icon.fw.png) no-repeat -260px 0;}
                            span{color:#A5B2B2;font-size:12px;}
                       }
                    }
                }
            }
            .sales-more{display:block;height:300px;width:200px;float:right;background:url(../img/sales7.jpg) no-repeat;margin-left:-10px;} 
            background: #fff;
        }
        .global{
            .country-mall{
                .caption{
                    height:35px;padding-top:40px;
                    .left{display:block;float:left;width:215px;height:25px;background:url(../img/country.png) no-repeat;}
                    .right{
                        float:right;padding-right:20px;position:relative;color:#000;font-size:14px;
                        i{display:block;height:15px;width:15px;background:url(../img/icon.fw.png) no-repeat -300px 0;position:absolute;top:2px;right:0;}
                    }
                }
                .mall-main{
                   .mall-left{
                        display:block;float:left;width:230px;position:relative;
                        img{display:block;height:350px;width:230px;}
                        .mall-summary{
                            position:absolute;bottom:18px;left:0;width:230px;text-align:center;
                            span{display:block;font-size:18px;color:#fff;font-weight:bolder;margin-bottom:14px;}
                            .mall-enter{font-size:14px;border:2px solid #fff;border-radius:15px 15px;width:96px;height:26px;line-height:26px;margin:0 auto;}
                        }
                   }
                   .mall-right{
                        float:left;width:960px;margin-top:-10px;
                        .mall-item{
                            float:left;padding-left:10px;padding-top:10px;
                            a{
                                display:block;position:relative;
                                img{display:block;height:170px;width:310px;}
                                .mall-summary{
                                    position:absolute;bottom:-2px;left:0;width:310px;text-align:center;
                                    span{display:block;font-size:12px;color:#fff;margin-bottom:14px;float:left;padding-left:20px;}
                                    .mall-enter{
                                        float:right;padding:0 30px 0 0;
                                        i{display:block;height:12px;width:12px;position:absolute;bottom:15px;right:10px;background:url(../img/icon.fw.png) no-repeat -330px 0;}
                                    }
                                }
                            }
                        }
                   }
                }
            }
            .global-seller{
                .caption{
                    height:35px;padding-top:40px;
                    .left{display:block;float:left;width:215px;height:25px;background:url(../img/global_seller.png) no-repeat;}
                    .right{
                        float:right;padding-right:20px;position:relative;color:#000;font-size:14px;
                        i{display:block;height:15px;width:15px;background:url(../img/icon.fw.png) no-repeat -300px 0;position:absolute;top:2px;right:0;}
                    }
                }
                .seller-main{
                    padding-bottom:17px;
                    .seller-intro{
                        width:390px;float:left;margin-right:10px;background: #fff;
                        .seller-top{
                            display:block;
                            .seller-store{
                                display:block;height:160px;width:390px;
                            }
                            .seller-summary{
                                height:34px;background:$mainColor;
                                span{display:block;font-size:12px;color:#fff;float:left;padding-left:20px;height:34px;line-height:34px;}
                                    .seller-go{
                                        float:right;padding:0 30px 0 0;position:relative;
                                        i{display:block;height:12px;width:12px;position:absolute;bottom:11px;right:10px;background:url(../img/icon.fw.png) no-repeat -350px 0;}
                                    }
                            }
                        }
                        .seller-middle{
                            padding-top:20px;
                            .seller-logo{
                                display:block;height:46px;width:100px;float:left;padding-left:20px;
                                img{height:46px;width:100px;}
                            }
                            .seller-text{
                                line-height:24px;font-size:12px;float:left;width:230px;margin-left:20px;
                            }
                        }
                        .seller-bottom{
                            .seller-good{
                                float:left;width:170px;padding-left:20px;
                                .good-show{
                                    text-align:center;display:block;
                                    img{height:140px;width:140px;}
                                    .good-name{font-size:12px;color:#000;}
                                    .good-price{
                                        em{font-size:14px;color:$priceColor;font-weight:bolder;}
                                        span{font-size:12px;}
                                    }
                                }
                            }
                        }
                    }
                    .seller-intro:last-child{margin:0;}
                }
            }
        }
        .classify-container{
            .classify-mb{
                .caption{
                    height:35px;padding-top:40px;
                    .left{display:block;float:left;width:215px;height:25px;background:url(../img/mon_baby.png) no-repeat;}
                    .right{
                        float:right;padding-right:20px;position:relative;color:#000;font-size:14px;
                        i{display:block;height:15px;width:15px;background:url(../img/icon.fw.png) no-repeat -300px 0;position:absolute;top:2px;right:0;}
                    }
                }
                .classify-left{
                    float:left;position:relative;
                    .classify-logo{
                        display:block;height:480px;width:300px;
                        img{height:480px;width:300px;}
                    }
                    .classify-hot{
                        position:absolute;bottom:20px;left:20px;height:160px;width:260px;text-align:center;
                        .hot-title{
                            font-size:12px;height:60px;line-height:60px;font-weight:bolder;position:relative;z-index:10;width:80px;margin:0 auto;background: #fff;
                        }
                        .title-border{display:block;width:200px;border-top:1px solid $borderColor;position:absolute;top:30px;left:30px;}
                        .hot-goods{
                            padding:0 30px;margin-left:-10px;
                            li{
                                float:left;font-size:12px;padding:0 10px 20px 10px;
                                a{
                                    display:block;
                                    &:hover{text-decoration:underline;}
                                }
                            }
                            li:nth-child(5){
                                a{color:#66CC33;}
                            }
                            li:last-child{padding:0 0 20px 0;}
                        }
                    }
                }
                .classify-center{
                    float:left;width:651px;border-top:1px solid #FF5555;background: #fff;
                    .center-up{
                        .good-first{
                            display:block;width:433px;float:left;border-bottom:1px solid $borderColor;border-right:1px solid $borderColor;padding-top:47px;
                            img{height:200px;width:200px;float:left;}
                            .good-txt{
                                padding-top:70px;
                                .good-summary{font-size:18px;font-weight:bolder;color:#000;}
                                .good-info{font-size:12px;padding-top:10px;}
                                .good-price{
                                    padding-top:14px;display:block;
                                    em{font-size:14px;color:$priceColor;}
                                    span{font-size:12px;}
                                }
                            }
                        }
                        .good{
                            display:block;width:176px;padding:0 20px;float:left;text-align:center;border-bottom:1px solid$borderColor;border-right:1px solid$borderColor;padding-top:37px;
                            img{height:160px;width:160px;}
                            .good-summary{font-size:12px;color:#000;}
                            .good-price{
                                padding:10px 0 3px 0;display:block;
                                em{font-size:14px;color:$priceColor;}
                                span{font-size:12px;}
                            }
                        }
                    }
                    .center-down{
                        .good{
                            display:block;width:176px;padding:0 20px;float:left;text-align:center;border-bottom:1px solid$borderColor;border-right:1px solid$borderColor;padding-top:20px;
                            img{height:160px;width:160px;}
                            .good-summary{font-size:12px;color:#000;}
                            .good-price{
                                padding:10px 0 3px 0;display:block;
                                em{font-size:14px;color:$priceColor;}
                                span{font-size:12px;}
                            }
                        }
                    }
                }
                .classify-right{
                    float:right;width:239px;background: #fff;border-top:2px solid #FF5555;padding-bottom:31px;position:relative;
                    .new-hot{
                        position:relative;
                        span{display:block;height:48px;line-height:48px;text-align:center;font-size:12px;font-weight:bolder;position:relative;width:100px;margin:0 auto;background: #fff;
                        }
                        .title-border{display:block;width:185px;border-top:1px solid $borderColor;position:absolute;top:24px;left:30px;}
                    }
                    .new-list{
                        .new-info{
                            .new-mes{
                                display:block;border-bottom:1px solid $borderColor;height:84px;padding-top:15px;
                                img{height:80px;width:80px;float:left;}
                                .new-text{
                                    .new-summary{font-size:12px;}
                                    .new-price{font-size:14px;color:$priceColor;font-weight:bolder;}
                                }
                            }
                        }
                        .new-info:last-child{
                            a{border:none;}
                        }
                    }
                    .page{
                        position:absolute;bottom:20px;left:100px;
                        span{
                            a{display:inline-block;height:10px;width:10px;background:#CCCCCC;border-radius:50%;}
                        }
                    }
                }
            }    
        }
        .brand-top{
            .caption{
                height:35px;padding-top:40px;
                .left{display:block;float:left;width:215px;height:25px;background:url(../img/top_brand.png) no-repeat;}
            }
        }
        .brand-dowm{
            padding-bottom:40px;
            .brand-left{
                display:block;width:240px;height:290px;float:left;
                img{height:290px;width:240px;}
            }
            .brand-center{
                float:left;width:710px;margin-top:-10px;
                .brand-item{
                    width:340px;float:left;background: #fff;height:90px;margin:10px 0 0 10px;
                    .brand-info{
                        display:inline-block;padding:20px 40px;
                        img{height:50px;width:100px;float:left;}
                        .brand-txt{
                            float:left;width:160px;height:50px;
                            .brand-name{font-size:12px;font-weight:bolder;color:#000;display:block;}
                            .brand-summary{font-size:12px;}
                        }
                    }
                }
            }
            .bill{
                float:right;width:240px;margin-top:-37px;
                .bill-top{
                    padding-bottom:9px;
                    .bill-title{
                        font-size:22px;font-weight:bolder;float:left;
                    }
                    .bill-page{
                        float:right;color:#B1B1C3;
                        .arrow-left{display:inline-block;height:20px;width:20px;background:url(../img/icon.fw.png) no-repeat -370px 0;}
                        .arrow-right{display:inline-block;height:20px;width:20px;background:url(../img/icon.fw.png) no-repeat -400px 0;}
                        .bill-change{font-size:16px;}
                        .bill-num{font-size:16px;}
                    }
                }
                .bill-show{
                    height:290px;width:240px;background:#fff;
                    .bill-list{
                        .bill-item{
                            position:relative;
                            .link{
                                display:block;height:200px;width:240px;
                                img{display:block;height:200px;width:240px;}
                            }
                            .bill-title{display:block;position:absolute;bottom:82px;left:0;background:$mainColor;font-size:12px;color:#fff;height:36px;width:240px;line-height:36px;text-align:center;}
                            .bill-txt{font-size:12px;color:#B1B1C3;margin:18px 20px  0 20px;}
                        }
                    }
                }
            }
        }
    }
    .promise{
        width:100%;background:$mainColor;
        .container{
            .promise-container{
                display:block;height:100px;width:100%;
                .promise-img{height:100px;width:1190px;}
            }
        }
    }
    .footer{
        .footer-top{
            padding-top:30px;
            .footer-tl{
                float:left;
                .footer-logo{
                    display:block;height:60px;width:110px;
                    img{height:60px;width:110px;}
                }
                .footer-server{display:block;height:30px;width:110px;background:$mainColor;border-radius:5px 5px;font-size:12px;color:#fff;line-height:30px;text-align:center;margin-top:24px;}
                .server-time{font-size:12px;padding-top:12px;}
            }
            .footer-tc{
                float:left;font-size:12px;line-height:24px;padding-left:90px;
                .column-center{
                    width:140px;float:left;
                    dl{
                        dt{font-weight:bolder;}
                    }
                }
            }
            .footer-tr{background:url(../img/erweima.png) no-repeat;float:right;height:140px;width:100px;
            }
        }
        .footer-down{
            width:100%;padding-top:22px;
            .border{
                width:100%;border-top:1px solid $borderColor;position:relative;
                span{font-size:12px;color:#B1B1C3;position:absolute;top:-9px;left:50%;margin-left:-192px;background: #fff;padding:0 10px;}
            }
            .footer-dc{
                padding:27px 0 24px 140px;
                li{
                    width:108px;float:left;padding-left:6px;
                    a{
                        display:block;height:40px;width:108px;
                        img{width:108px;height:40px;}
                    }
                }
            }
        }
    }
}
