#box .adv img {
  display: block;
  width: 100%;
}

#box .header {
  border-bottom: 1px solid #eee;
  background: #FAFAFA;
}

#box .header .container .h_left {
  color: #999999;
  font-size: 12px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
}

#box .header .container .h_left a {
  color: #FF8A00;
  position: relative;
  padding-left: 20px;
}

#box .header .container .h_left a i {
  background: url("../img/icon.fw.png") no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
  position: absolute;
  top: -1px;
  left: 0px;
}

#box .header .container .h_right li {
  float: left;
  height: 30px;
  line-height: 30px;
}

#box .header .container .h_right li a {
  color: #999999;
  font-size: 12px;
}

#box .header .container .h_right li a:hover {
  color: #0099E6;
  text-decoration: underline;
}

#box .header .container .h_right li span {
  display: inline-block;
  color: #dedede;
  font-size: 12px;
  margin: 0 12px;
}

#box .logo .l_left {
  height: 108px;
  width: 666px;
  float: left;
}

#box .logo .l_left a {
  display: block;
}

#box .logo .l_left .l_logo {
  background: url("../img/logo.png") no-repeat center;
  height: 64px;
  width: 304px;
  float: left;
  margin-top: 18px;
}

#box .logo .l_left .l_promise {
  background: url("../img/promise.png") no-repeat center;
  float: right;
  height: 40px;
  width: 300px;
  margin-top: 35px;
}

#box .logo .l_center {
  width: 418px;
  position: relative;
  float: left;
}

#box .logo .l_center input {
  height: 30px;
  width: 305px;
  border: 2px solid #0099E6;
  margin: 33px 0 0 33px;
}

#box .logo .l_center a {
  display: block;
  position: absolute;
  height: 34px;
  width: 80px;
  background: #009DE0;
  top: 33px;
  right: -2px;
}

#box .logo .l_center a i {
  position: absolute;
  top: 5px;
  left: 26px;
  display: block;
  height: 24px;
  width: 24px;
  background: url("../img/icon.fw.png") no-repeat -30px 0;
}

#box .logo .l_right {
  float: right;
  padding-top: 33px;
}

#box .logo .l_right a {
  display: block;
  height: 32px;
  width: 60px;
  border: 1px solid #ccc;
  background: #F8F8F8;
  font-size: 14px;
  line-height: 32px;
  padding-left: 35px;
  position: relative;
}

#box .logo .l_right a i {
  display: block;
  height: 23px;
  width: 23px;
  background: url("../img/icon.fw.png") no-repeat -70px 0;
  position: absolute;
  top: 6px;
  left: 6px;
}

#box .logo .l_right a span {
  display: block;
  height: 20px;
  width: 28px;
  background: #FF5555;
  border-radius: 10px 10px;
  position: absolute;
  top: -15px;
  left: 6px;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  font-weight: bolder;
}

#box .nav {
  background: #0099E6;
  height: 40px;
}

#box .nav .container .n_left {
  float: left;
}

#box .nav .container .n_left h3 {
  height: 40px;
  width: 180px;
  font-size: 14px;
  background: #0086D4;
  line-height: 40px;
  padding-left: 40px;
  color: #fff;
  font-weight: bolder;
  position: relative;
}

#box .nav .container .n_left h3 i {
  display: block;
  height: 26px;
  width: 26px;
  background: url("../img/icon.fw.png") no-repeat -110px 0;
  position: absolute;
  top: 6px;
  left: 6px;
}

#box .nav .container .n_left .menu1 {
  font-size: 12px;
  width: 220px;
  background: #F1FAFD;
  position: relative;
  height: 420px;
  z-index: 100;
}

#box .nav .container .n_left .menu1 .menu1_li {
  height: 59px;
  margin-left: 5px;
  padding: 0 15px 0 10px;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show h4 {
  height: 24px;
  width: 165px;
  padding: 10px 0 0 25px;
  position: relative;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show h4 a {
  color: #0099E6;
  font-weight: bolder;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show h4 a:hover {
  text-decoration: underline;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show h4 i {
  display: block;
  height: 20px;
  width: 20px;
  background: url("../img/icon.fw.png") no-repeat -140px 0;
  position: absolute;
  top: 7px;
  left: 0;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show ul {
  padding-left: 25px;
  border-bottom: 1px solid #E6E6E6;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show ul li {
  float: left;
  padding-right: 10px;
  height: 24px;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show ul li a {
  color: #6688AA;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show ul li a:hover {
  text-decoration: underline;
}

#box .nav .container .n_left .menu1 .menu1_li .li_show ul li:nth-child(3) {
  padding: 0;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav {
  position: absolute;
  top: 0;
  left: 220px;
  width: 970px;
  display: none;
  background: #fff;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_left {
  width: 770px;
  float: left;
  padding-top: 10px;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_left li {
  padding-left: 30px;
  width: 340px;
  float: left;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_left li dl dt {
  height: 24px;
  border-bottom: 1px solid #E6E6E6;
  font-size: 14px;
  font-weight: bolder;
  padding-top: 25px;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_left li dl dt a {
  color: #000;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_left li dl dd {
  float: left;
  line-height: 24px;
  padding-right: 16px;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_left li dl dd a:hover {
  color: #0099E6;
  text-decoration: underline;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right {
  width: 160px;
  float: right;
  padding: 19px;
  border-left: 1px solid #E6E6E6;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rt {
  padding-bottom: 30px;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rt a {
  display: block;
  height: 180px;
  width: 160px;
  background: url(../img/muying.jpg) no-repeat;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rb {
  border-top: 1px solid #E6E6E6;
  padding-top: 16px;
  position: relative;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rb ul li {
  float: left;
  margin-top: 8px;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rb ul li a {
  display: block;
  height: 42px;
  width: 74px;
  background: url(../img/hotgoods.jpg) no-repeat;
  border: 1px solid #E6E6E6;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rb ul li:nth-child(2n-1) {
  margin-right: 8px;
}

#box .nav .container .n_left .menu1 .menu1_li .second_nav .second_nav_right .s_nav_rb h4 {
  position: absolute;
  top: -10px;
  left: 55px;
  font-weight: bolder;
  background: #fff;
  z-index: 100;
  padding: 0 5px;
}

#box .nav .container .n_left .menu1 .menu1_li:hover {
  background: #fff;
  border-left: 5px solid #f00;
  margin: 0;
}

#box .nav .container .n_left .menu1 .menu1_li:hover .second_nav {
  display: block;
}

#box .nav .container .n_center {
  float: left;
  width: 770px;
}

#box .nav .container .n_center .n_li {
  float: left;
  padding: 0 22px;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  position: relative;
}

#box .nav .container .n_center .n_li a {
  color: #fff;
  font-weight: bolder;
}

#box .nav .container .n_center .n_li ul {
  width: 210px;
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
  background: #fff;
  z-index: 100;
}

#box .nav .container .n_center .n_li ul li {
  margin: 0 15px;
  padding: 10px 0 5px 10px;
  border-bottom: 1px solid #E6E6E6;
}

#box .nav .container .n_center .n_li ul li h4 {
  height: 20px;
  line-height: 20px;
  color: #0099E6;
  font-weight: bolder;
}

#box .nav .container .n_center .n_li ul li a {
  display: block;
  height: 24px;
  line-height: 24px;
  color: #999999;
  font-weight: 500;
}

#box .nav .container .n_center .n_li ul li a:hover {
  color: #0099E6;
}

#box .nav .container .n_center .n_li i {
  display: block;
  height: 14px;
  width: 14px;
  position: absolute;
  top: 13px;
  right: -4px;
  background: url(../img/icon.fw.png) no-repeat -170px 0;
}

#box .nav .container .n_center .n_li:hover ul {
  display: inline;
}

#box .nav .container .n_center .n_li:hover i {
  background: url(../img/icon.fw.png) no-repeat -200px 0;
}

#box .nav .container .n_right {
  background: url(../img/pay.png) no-repeat;
  width: 200px;
  height: 40px;
  float: right;
}

#box .banner {
  position: relative;
}

#box .banner .images {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#box .banner .images li {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 220px;
  z-index: -10;
  display: none;
  width: 100%;
  z-index: 1;
}

#box .banner .images li a {
  display: block;
  height: 420px;
  width: 770px;
}

#box .banner .images li a img {
  display: block;
  height: 420px;
  width: 770px;
}

#box .banner .images li:nth-child(1) {
  background: #80CCFE;
}

#box .banner .images li:nth-child(2) {
  background: #C0E9ED;
}

#box .banner .images li:nth-child(3) {
  background: #F7B5C1;
}

#box .banner .images li:nth-child(4) {
  background: #FFE6EA;
}

#box .banner .images li:nth-child(5) {
  background: #AFD8DC;
}

#box .banner .container {
  position: relative;
  height: 420px;
}

#box .banner .container .page {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -35px;
  z-index: 10;
}

#box .banner .container .page li {
  float: left;
  padding-right: 10px;
}

#box .banner .container .page li a {
  display: inline-block;
  height: 8px;
  width: 8px;
  border: 3px solid #fff;
  border-radius: 50%;
}

#box .banner .container .page .action {
  background: #fff;
}

#box .banner .container .active {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

#box .banner .container .active ul li:nth-child(2) {
  border-top: 1px solid #E6E6E6;
}

#box .banner .container .btn {
  position: absolute;
  top: 50%;
  left: 220px;
  z-index: 1;
  margin-top: -30px;
  width: 770px;
}

#box .banner .container .btn .btn-left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 12;
  margin-top: -30px;
  margin-left: -60px;
}

#box .banner .container .btn .btn-left a {
  display: block;
  height: 60px;
  width: 60px;
  background: url(../img/btn.gif) no-repeat;
}

#box .banner .container .btn .btn-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 12;
  margin-top: -30px;
  margin-right: -60px;
}

#box .banner .container .btn .btn-right a {
  display: block;
  height: 60px;
  width: 60px;
  background: url(../img/btn.gif) no-repeat 0 -60px;
}

#box .main {
  background: #F5F5F5;
}

#box .main .sales {
  background: #fff;
}

#box .main .sales .sales-list {
  float: left;
}

#box .main .sales .sales-list li {
  float: left;
  width: 200px;
  position: relative;
  padding: 25px 0 15px 0;
}

#box .main .sales .sales-list li .good {
  display: block;
}

#box .main .sales .sales-list li .good .corner {
  display: block;
  width: 38px;
  height: 38px;
  position: absolute;
  top: 40px;
  left: 5px;
}

#box .main .sales .sales-list li .good img {
  display: block;
  height: 170px;
  width: 170px;
}

#box .main .sales .sales-list li .good .good-name {
  font-size: 12px;
  color: #000;
  text-align: center;
  margin: 10px 0 5px 0;
}

#box .main .sales .sales-list li .good .good-price {
  text-align: center;
  margin-bottom: 10px;
}

#box .main .sales .sales-list li .good .good-price em {
  color: #FF3333;
  font-size: 14px;
  font-weight: bolder;
}

#box .main .sales .sales-list li .good .good-price span {
  color: #A5B2B2;
  font-size: 12px;
}

#box .main .sales .sales-list li .good .good-sort {
  text-align: center;
  position: relative;
  margin-bottom: 7px;
}

#box .main .sales .sales-list li .good .good-sort i {
  display: block;
  position: absolute;
  height: 12px;
  width: 18px;
  top: 6px;
  left: 25px;
  background: url(../img/icon.fw.png) no-repeat -260px 0;
}

#box .main .sales .sales-list li .good .good-sort span {
  color: #A5B2B2;
  font-size: 12px;
}

#box .main .sales .sales-more {
  display: block;
  height: 300px;
  width: 200px;
  float: right;
  background: url(../img/sales7.jpg) no-repeat;
  margin-left: -10px;
}

#box .main .global .country-mall .caption {
  height: 35px;
  padding-top: 40px;
}

#box .main .global .country-mall .caption .left {
  display: block;
  float: left;
  width: 215px;
  height: 25px;
  background: url(../img/country.png) no-repeat;
}

#box .main .global .country-mall .caption .right {
  float: right;
  padding-right: 20px;
  position: relative;
  color: #000;
  font-size: 14px;
}

#box .main .global .country-mall .caption .right i {
  display: block;
  height: 15px;
  width: 15px;
  background: url(../img/icon.fw.png) no-repeat -300px 0;
  position: absolute;
  top: 2px;
  right: 0;
}

#box .main .global .country-mall .mall-main .mall-left {
  display: block;
  float: left;
  width: 230px;
  position: relative;
}

#box .main .global .country-mall .mall-main .mall-left img {
  display: block;
  height: 350px;
  width: 230px;
}

#box .main .global .country-mall .mall-main .mall-left .mall-summary {
  position: absolute;
  bottom: 18px;
  left: 0;
  width: 230px;
  text-align: center;
}

#box .main .global .country-mall .mall-main .mall-left .mall-summary span {
  display: block;
  font-size: 18px;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 14px;
}

#box .main .global .country-mall .mall-main .mall-left .mall-summary .mall-enter {
  font-size: 14px;
  border: 2px solid #fff;
  border-radius: 15px 15px;
  width: 96px;
  height: 26px;
  line-height: 26px;
  margin: 0 auto;
}

#box .main .global .country-mall .mall-main .mall-right {
  float: left;
  width: 960px;
  margin-top: -10px;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item {
  float: left;
  padding-left: 10px;
  padding-top: 10px;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item a {
  display: block;
  position: relative;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item a img {
  display: block;
  height: 170px;
  width: 310px;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item a .mall-summary {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 310px;
  text-align: center;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item a .mall-summary span {
  display: block;
  font-size: 12px;
  color: #fff;
  margin-bottom: 14px;
  float: left;
  padding-left: 20px;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item a .mall-summary .mall-enter {
  float: right;
  padding: 0 30px 0 0;
}

#box .main .global .country-mall .mall-main .mall-right .mall-item a .mall-summary .mall-enter i {
  display: block;
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: 15px;
  right: 10px;
  background: url(../img/icon.fw.png) no-repeat -330px 0;
}

#box .main .global .global-seller .caption {
  height: 35px;
  padding-top: 40px;
}

#box .main .global .global-seller .caption .left {
  display: block;
  float: left;
  width: 215px;
  height: 25px;
  background: url(../img/global_seller.png) no-repeat;
}

#box .main .global .global-seller .caption .right {
  float: right;
  padding-right: 20px;
  position: relative;
  color: #000;
  font-size: 14px;
}

#box .main .global .global-seller .caption .right i {
  display: block;
  height: 15px;
  width: 15px;
  background: url(../img/icon.fw.png) no-repeat -300px 0;
  position: absolute;
  top: 2px;
  right: 0;
}

#box .main .global .global-seller .seller-main {
  padding-bottom: 17px;
}

#box .main .global .global-seller .seller-main .seller-intro {
  width: 390px;
  float: left;
  margin-right: 10px;
  background: #fff;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-top {
  display: block;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-top .seller-store {
  display: block;
  height: 180px;
  width: 390px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-top .seller-summary {
  height: 34px;
  background: #0099E6;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-top .seller-summary span {
  display: block;
  font-size: 12px;
  color: #fff;
  float: left;
  padding-left: 20px;
  height: 34px;
  line-height: 34px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-top .seller-summary .seller-go {
  float: right;
  padding: 0 30px 0 0;
  position: relative;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-top .seller-summary .seller-go i {
  display: block;
  height: 12px;
  width: 12px;
  position: absolute;
  bottom: 11px;
  right: 10px;
  background: url(../img/icon.fw.png) no-repeat -350px 0;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-middle {
  padding-top: 20px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-middle .seller-logo {
  display: block;
  height: 46px;
  width: 100px;
  float: left;
  padding-left: 20px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-middle .seller-logo img {
  height: 46px;
  width: 100px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-middle .seller-text {
  line-height: 24px;
  font-size: 12px;
  float: left;
  width: 230px;
  margin-left: 20px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-bottom .seller-good {
  float: left;
  width: 170px;
  padding-left: 20px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-bottom .seller-good .good-show {
  text-align: center;
  display: block;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-bottom .seller-good .good-show img {
  height: 140px;
  width: 140px;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-bottom .seller-good .good-show .good-name {
  font-size: 12px;
  color: #000;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-bottom .seller-good .good-show .good-price em {
  font-size: 14px;
  color: #FF3333;
  font-weight: bolder;
}

#box .main .global .global-seller .seller-main .seller-intro .seller-bottom .seller-good .good-show .good-price span {
  font-size: 12px;
}

#box .main .global .global-seller .seller-main .seller-intro:last-child {
  margin: 0;
}

#box .main .classify-container .classify-mb .caption {
  height: 35px;
  padding-top: 40px;
}

#box .main .classify-container .classify-mb .caption .left {
  display: block;
  float: left;
  width: 215px;
  height: 25px;
  background: url(../img/mon_baby.png) no-repeat;
}

#box .main .classify-container .classify-mb .caption .right {
  float: right;
  padding-right: 20px;
  position: relative;
  color: #000;
  font-size: 14px;
}

#box .main .classify-container .classify-mb .caption .right i {
  display: block;
  height: 15px;
  width: 15px;
  background: url(../img/icon.fw.png) no-repeat -300px 0;
  position: absolute;
  top: 2px;
  right: 0;
}

#box .main .classify-container .classify-mb .classify-left {
  float: left;
  position: relative;
}

#box .main .classify-container .classify-mb .classify-left .classify-logo {
  display: block;
  height: 480px;
  width: 300px;
}

#box .main .classify-container .classify-mb .classify-left .classify-logo img {
  height: 480px;
  width: 300px;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot {
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 160px;
  width: 260px;
  text-align: center;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-title {
  font-size: 12px;
  height: 60px;
  line-height: 60px;
  font-weight: bolder;
  position: relative;
  z-index: 10;
  width: 80px;
  margin: 0 auto;
  background: #fff;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .title-border {
  display: block;
  width: 200px;
  border-top: 1px solid #E6E6E6;
  position: absolute;
  top: 30px;
  left: 30px;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-goods {
  padding: 0 30px;
  margin-left: -10px;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-goods li {
  float: left;
  font-size: 12px;
  padding: 0 10px 20px 10px;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-goods li a {
  display: block;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-goods li a:hover {
  text-decoration: underline;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-goods li:nth-child(5) a {
  color: #66CC33;
}

#box .main .classify-container .classify-mb .classify-left .classify-hot .hot-goods li:last-child {
  padding: 0 0 20px 0;
}

#box .main .classify-container .classify-mb .classify-center {
  float: left;
  width: 651px;
  border-top: 1px solid #FF5555;
  background: #fff;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first {
  display: block;
  width: 433px;
  float: left;
  border-bottom: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  padding-top: 47px;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first img {
  height: 200px;
  width: 200px;
  float: left;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first .good-txt {
  padding-top: 70px;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first .good-txt .good-summary {
  font-size: 18px;
  font-weight: bolder;
  color: #000;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first .good-txt .good-info {
  font-size: 12px;
  padding-top: 10px;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first .good-txt .good-price {
  padding-top: 14px;
  display: block;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first .good-txt .good-price em {
  font-size: 14px;
  color: #FF3333;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good-first .good-txt .good-price span {
  font-size: 12px;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good {
  display: block;
  width: 176px;
  padding: 0 20px;
  float: left;
  text-align: center;
  border-bottom: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  padding-top: 37px;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good img {
  height: 160px;
  width: 160px;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good .good-summary {
  font-size: 12px;
  color: #000;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good .good-price {
  padding: 10px 0 3px 0;
  display: block;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good .good-price em {
  font-size: 14px;
  color: #FF3333;
}

#box .main .classify-container .classify-mb .classify-center .center-up .good .good-price span {
  font-size: 12px;
}

#box .main .classify-container .classify-mb .classify-center .center-down .good {
  display: block;
  width: 176px;
  padding: 0 20px;
  float: left;
  text-align: center;
  border-bottom: 1px solid #E6E6E6;
  border-right: 1px solid #E6E6E6;
  padding-top: 20px;
}

#box .main .classify-container .classify-mb .classify-center .center-down .good img {
  height: 160px;
  width: 160px;
}

#box .main .classify-container .classify-mb .classify-center .center-down .good .good-summary {
  font-size: 12px;
  color: #000;
}

#box .main .classify-container .classify-mb .classify-center .center-down .good .good-price {
  padding: 10px 0 3px 0;
  display: block;
}

#box .main .classify-container .classify-mb .classify-center .center-down .good .good-price em {
  font-size: 14px;
  color: #FF3333;
}

#box .main .classify-container .classify-mb .classify-center .center-down .good .good-price span {
  font-size: 12px;
}

#box .main .classify-container .classify-mb .classify-right {
  float: right;
  width: 239px;
  background: #fff;
  border-top: 2px solid #FF5555;
  padding-bottom: 31px;
  position: relative;
}

#box .main .classify-container .classify-mb .classify-right .new-hot {
  position: relative;
}

#box .main .classify-container .classify-mb .classify-right .new-hot span {
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-size: 12px;
  font-weight: bolder;
  position: relative;
  width: 100px;
  margin: 0 auto;
  background: #fff;
}

#box .main .classify-container .classify-mb .classify-right .new-hot .title-border {
  display: block;
  width: 185px;
  border-top: 1px solid #E6E6E6;
  position: absolute;
  top: 24px;
  left: 30px;
}

#box .main .classify-container .classify-mb .classify-right .new-list .new-info .new-mes {
  display: block;
  border-bottom: 1px solid #E6E6E6;
  height: 84px;
  padding-top: 15px;
}

#box .main .classify-container .classify-mb .classify-right .new-list .new-info .new-mes img {
  height: 80px;
  width: 80px;
  float: left;
}

#box .main .classify-container .classify-mb .classify-right .new-list .new-info .new-mes .new-text .new-summary {
  font-size: 12px;
}

#box .main .classify-container .classify-mb .classify-right .new-list .new-info .new-mes .new-text .new-price {
  font-size: 14px;
  color: #FF3333;
  font-weight: bolder;
}

#box .main .classify-container .classify-mb .classify-right .new-list .new-info:last-child a {
  border: none;
}

#box .main .classify-container .classify-mb .classify-right .page {
  position: absolute;
  bottom: 20px;
  left: 100px;
}

#box .main .classify-container .classify-mb .classify-right .page span a {
  display: inline-block;
  height: 10px;
  width: 10px;
  background: #CCCCCC;
  border-radius: 50%;
}

#box .main .brand-top .caption {
  height: 35px;
  padding-top: 40px;
}

#box .main .brand-top .caption .left {
  display: block;
  float: left;
  width: 215px;
  height: 25px;
  background: url(../img/top_brand.png) no-repeat;
}

#box .main .brand-top .caption .right {
  float: right;
  padding-right: 20px;
  position: relative;
  color: #000;
  font-size: 14px;
}

#box .main .brand-top .caption .right i {
  display: block;
  height: 15px;
  width: 15px;
  background: url(../img/icon.fw.png) no-repeat -300px 0;
  position: absolute;
  top: 2px;
  right: 0;
}

#box .main .brand-dowm .brand-left {
  display: block;
  width: 240px;
  height: 290px;
  float: left;
}

#box .main .brand-dowm .brand-left img {
  height: 290px;
  width: 240px;
}

#box .main .brand-dowm .brand-center {
  float: left;
  width: 710px;
  margin-top: -10px;
}

#box .main .brand-dowm .brand-center .brand-item {
  width: 340px;
  float: left;
  background: #fff;
  height: 90px;
  margin: 10px 0 0 10px;
}

#box .main .brand-dowm .brand-center .brand-item .brand-info {
  display: inline-block;
  padding: 20px 40px;
}

#box .main .brand-dowm .brand-center .brand-item .brand-info img {
  height: 50px;
  width: 100px;
  float: left;
}

#box .main .brand-dowm .brand-center .brand-item .brand-info .brand-txt {
  float: left;
  width: 160px;
  height: 50px;
}

#box .main .brand-dowm .brand-center .brand-item .brand-info .brand-txt .brand-name {
  font-size: 12px;
  font-weight: bolder;
  color: #000;
  display: block;
}

#box .main .brand-dowm .brand-center .brand-item .brand-info .brand-txt .brand-summary {
  font-size: 12px;
}
